/* styles.css */

h1 {
    font-size: 24px;
    color: b;
}

p {
    font-size: 16px;
    color: black;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 30%;
}

.image-container {
    display: inline-block; /* Make the container inline-block to wrap its content */
    padding: 10px; /* Add padding to the container */
}

img {
    max-width: 20%; /* Set the maximum width of the image to 100% */
    height: auto;
    border: 5px solid black; /* Add a black border around the image */
}
